<html>
<head>
    {{ content_for_header }}
</head>
<body>
    {%  render 'header' %}
    {{ content_for_layout }}
</body>
</html>

<style>
    body {
      background-color: {{ settings.bg }};
      color: {{ settings.text_color }};
    }
</style>
  