<h1>Template Index Page</h1>
<h2>{{ collections['frontpage'].title }}</h2>
<div>
    {% for product in collections['frontpage'].products %}
        {% render 'product-item', product: product %}
    {% endfor %}
</div>